@model rentapp.ViewModels.EmailViewModel
@{
    ViewData["Title"] = "Home Page";
}

    
    

<div class="full-screen-portfolio bg-dark" id="portfolio">
    <div class="container-fluid">
        <div class="col-md-4 col-sm-6">
            <div class="portfolio-item">
                <a href="~/content/img/roger1.png" data-lightbox="image-1">
                    <div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1>Huvudbyggnad och gästhus</h1>
                                <p>Huvudbyggnad Baksidan</p>

                            </div>
                        </div>
                        <div class="image">
                            <img src="~/content/img/roger1.png">
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="portfolio-item">
                <a href="~/content/img/roger2.png" data-lightbox="image-1">
                    <div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1>Huvudbyggnad</h1>
                                <p>Huvudingång</p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="~/content/img/roger2.png">
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="portfolio-item">
                <a href="~/content/img/roger3.png" data-lightbox="image-1">
                    <div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1>Gästhus & Toahuset</h1>
                                <p>Dusch & Toalett</p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="~/content/img/roger3.png">
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="portfolio-item">
                <a href="~/content/img/roger4.png" data-lightbox="image-1">
                    <div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1>Mycket Ostört Läge</h1>
                                <p>Första huset från vägen</p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="~/content/img/roger4.png">
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="portfolio-item">
                <a href="~/content/img/roger5.png" data-lightbox="image-1">
                    <div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1>Här hålls Dycker</h1>
                                <p>Garanterat kalla</p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="~/content/img/roger5.png">
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="portfolio-item">
                <a href="~/content/img/roger6.png" data-lightbox="image-1">
                    <div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1>Härlig utsikt</h1>
                                <p>Från Uteplatsen</p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="~/content/img/roger6.png">
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="portfolio-item">
                <a href="~/content/img/roger7.png" data-lightbox="image-1">
                    <div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1>Magiskt ljus</h1>
                                <p>i sommarkvällen</p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="~/content/img/roger7.png">
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="portfolio-item">
                <a href="~/content/img/roger8ny.png" data-lightbox="image-1">
                    <div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1>Promenadavstånd</h1>
                                <p>till havet</p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="~/content/img/roger8ny.png">
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="portfolio-item">
                <a href="~/content/img/roger9.png" data-lightbox="image-1">
                    <div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1></h1>
                                <p></p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="~/content/img/roger9.png">
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="portfolio-item">
                <a href="~/content/img/roger10.png" data-lightbox="image-1">
                    <div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1>Kossorna Betar</h1>
                                <p>nästgårds</p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="~/content/img/roger10.png">
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="portfolio-item">
                <a href="~/content/img/roger11.png" data-lightbox="image-1">
                    <div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1>Fantastiskt fågelliv</h1>
                                <p>i naturen</p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="~/content/img/roger11.png">
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="portfolio-item">
                <a href="~/content/img/roger12.png" data-lightbox="image-1">
                    <div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1></h1>
                                <p></p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="~/content/img/roger12.png">
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="portfolio-item">
                <a href="~/content/img/roger13.png" data-lightbox="image-1">
                    <div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1>Uteplats</h1>
                                <p>fantastisk utsikt</p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="~/content/img/roger13.png">
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="portfolio-item">
                <a href="~/content/img/roger14.png" data-lightbox="image-1">
                    <div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1>Här får man</h1>
                                <p>Lugn och ro</p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="~/content/img/roger14.png">
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="portfolio-item">
                <a href="~/content/img/roger15.png" data-lightbox="image-1">
                    <div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1>Vardagsrummet</h1>
                                <p>tv med chromecast</p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="~/content/img/roger15.png">
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="portfolio-item">
                <a href="~/content/img/roger16.png" data-lightbox="image-1">
                    <div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1>Båtplatser</h1>
                                <p>från luften</p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="~/content/img/roger16.png">
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="portfolio-item">
                <a href="~/content/img/roger17.png" data-lightbox="image-1">
                    <div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1>Badplatsen med badbrygga</h1>
                                <p>och fin sandstrand</p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="~/content/img/roger17.png">
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="portfolio-item">
                <a href="~/content/img/roger18.png" data-lightbox="image-1">
                    <div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1>Nytt kök</h1>
                                <p>med diskmaskin</p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="~/content/img/roger18.png">
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="portfolio-item">
                <a href="~/content/img/roger19.png" data-lightbox="image-1">
                    <div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1>Matplats</h1>
                                <p>i anslutning till köket</p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="~/content/img/roger19.png">
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="portfolio-item">
                <a href="~/content/img/roger20.png" data-lightbox="image-1">
                    <div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1></h1>
                                <p></p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="~/content/img/roger20.png">
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="portfolio-item">
                <a href="~/content/img/roger21.png" data-lightbox="image-1">
                    <div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1>nytt matbord</h1>
                                <p>och stolar</p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="~/content/img/roger21.png">
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="portfolio-item">
                <a href="~/content/img/roger22.png" data-lightbox="image-1">
                    <div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1>Sovrum</h1>
                                <p>närmast ytterdörren</p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="~/content/img/roger22.png">
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="portfolio-item">
                <a href="~/content/img/roger23.png" data-lightbox="image-1">
                    <div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1></h1>
                                <p></p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="~/content/img/roger23.png">
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="portfolio-item">
                <a href="~/content/img/roger24.png" data-lightbox="image-1">
                    <div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1>Badrum</h1>
                                <p>med dusch & toa</p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="~/content/img/roger24.png">
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="portfolio-item">
                <a href="~/content/img/roger25.png" data-lightbox="image-1">
                    <div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1></h1>
                                <p></p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="~/content/img/roger25.png">
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="portfolio-item">
                <a href="~/content/img/roger26.png" data-lightbox="image-1">
                    <div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1></h1>
                                <p></p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="~/content/img/roger26.png">
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="portfolio-item">
                <a href="~/content/img/roger27.png" data-lightbox="image-1">
                    <div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1></h1>
                                <p></p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="~/content/img/roger27.png">
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>


<footer>
    <div class="container-fluid">
        <div class="col-md-12">
            <p>
                Copyright &copy; 2020 Roger Ståhl

                | Designed by David Ståhl
            </p>
        </div>
    </div>
</footer>


<!-- Modal button -->
<div class="popup-icon">
    <button id="modBtn" class="modal-btn"><img src="~/content/img/contact-icon.png" alt=""></button>
</div>

<!-- Modal -->
<div id="modal" class="modal">
    <!-- Modal Content -->
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h3 class="header-title container">Frågor om <em>uthyrning</em></h3>
            <div class="close-btn"><img src="~/content/img/close_contact.png" alt=""></div>
        </div>
        <!-- Modal Body -->
        <div class="modal-body">
            
            <div class="col-md-6 col-md-offset-3">
                
                <form id="contact" asp-action="PostEmail" asp-controller="Home" method="post">
                    <div class="row">
                        <div class="col-md-12">
                            <fieldset>
                                <input  asp-for="@Model.Name" type="text" class="form-control" id="name" placeholder="Ditt namn..." required="">
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset>
                                <input  asp-for="@Model.Email" type="email" class="form-control" id="email" placeholder="Din email..." required="">
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset>
                                <textarea  asp-for="@Model.Question" rows="6" class="form-control" id="message" placeholder="Ditt meddelande..." required=""></textarea>
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset>
                                <input type="submit" id="form-submit" class="btn" value="Skicka"/>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<section class="overlay-menu">
    <div class="container">
        <div class="row">
            <div class="main-menu container-fluid">
                <ul>
                    <li>
                        <a asp-action="Index" asp-controller="Home">Hem</a>
                    </li>
                    <li>
                        <a asp-action="Info" asp-controller="Home">Uthyrning info</a>
                    </li>
                    <li>
                        <a asp-action="Contact" asp-controller="Home">Kontakt</a>
                    </li>
                </ul>
                <p>Sommarhus i S:t Annas Skärgård på Vikbolandet uthyres</p>
            </div>
        </div>
    </div>
</section>
